#wrap {
  display: flex;
  min-height: 100dvh;
  align-items: center;
  flex-direction: column;

  #wrap-contents {
    padding: 40px;
    flex: 1 auto;
    width: 100%;

    @media screen and (min-width: 768px) {
      padding: 64px;
    }
  }

  #form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 440px;
    align-self: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 250px;

    @media screen and (min-width: 768px) {
      padding: 20px;
      border: 1px solid var(--login-box, #c6cfd8);
    }
  }

  .footer {
    justify-self: flex-end;
    background-color: #f6f6f6;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 11px;
    color: rgb(147, 152, 170);
  }
}

.Title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;

  img {
    margin: 0 auto;
  }
}

.TextInputSet {
  width: 100%;

  .InputLabel {
    font-size: 10px;
  }

  .TextInput {
    width: 100%;
    border: 1px solid #c6cfd8;
    padding: 8px 8px;
  }
}

.Button {
  width: 100%;
  height: 40px;
  background-color: #0070f3;
  color: #fff;

  &:hover {
    background-color: #0056b3;
    color: #fff;
  }
}
