#wrap {
  min-height: 100dvh;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  #output {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f0f0f0;
    width: 100px;
    height: 100px;
  }
}
